<p id="notice"><%= notice %></p>
<h2> Movie Details </h2>

<%= turbo_stream_from @movie %>

<%= turbo_frame_tag 'movie' do %>
  <%= render @movie %>

  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
<% end %>

<%= turbo_frame_tag 'new_message', src: new_movie_comment_path(@movie), target: '_top' do %>
  
<% end %>

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Movie Comments</h6>
  <div id="comments">
    <%= render @movie.comments.order(created_at: :asc) %>
  </div>
</div>

<%= link_to "Add new comment", new_movie_comment_path(@movie) %> 